/* 16px == 1rem */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 1;
  padding: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.main-header {
  background-color: #313B74;
  margin: 0;
  padding-top: 1rem;
}

.page-header {
  display: block;
  width: 100%;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.page-header:hover {
    color: orange;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: #5F6CB2;
  margin: 0;
  width: 100%;
}

.section-header {
  font-size: 2rem;
  color: darkblue;
  text-align: center;
}

.section-header:hover {
  color: purple;
}

.sample-title {
  font-size: 1.5rem;
  color: darkred;
  text-align: center;
}

.sample-title::first-letter {
  font-size: 3rem;
}

article {
  border: solid black;
  border-width: thin;
  }

.sample-body {
  font-style: italic;
}

.week {
  padding: 0.75rem 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.images {
  display: block;
  margin: auto;
  padding: 0;
  transition: transform 2s;
  transform: rotate(360deg);
}

.page-nav {
  text-align: left;
  font-family: monospace;
}

.project-list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;
}

/*visited link*/
.facebook-logo:visited {
  color: #3b5998;
}

.linkedin-logo:visited {
  color: #0077B5;
}

.github-logo {
  color: #181717;
}

.footer {
  font-style: italic;
  background-color: #313B74;
  margin-top: 0.75rem;
  color: white;
  text-align: center;
}

.email {
  color: white;
}

.social-media {
  margin: 0;
}

.section-header {
  animation: 1s animateborder ease infinite alternate;
  position: relative;
}

@keyframes animateborder {
  0% { top: -15px; }
  100% {top: 15px; }
}
