/* 16px == 1rem */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 1;
  padding: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.main-header {
  background-color: #313B74;
  margin: 0;
  padding-top: 1rem;
}

.page-header {
  display: block;
  width: 100%;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.page-header:hover {
    color: orange;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: #5F6CB2;
  margin: 0;
  width: 100%;
}

.section-header {
  font-size: 2rem;
  color: darkblue;
  text-align: center;
}

.section-header:hover {
  color: purple;
}

.sample-title {
  font-size: 1.5rem;
  color: darkred;
  text-align: center;
}

.sample-title::first-letter {
  font-size: 3rem;
}

article {
  border: solid black;
}

.sample-body {
  font-style: italic;
}

.week-1 {
  padding: 0.75rem 0;
}

.week-2 {
  padding: 0.75rem 0;
}

.week-3 {
  padding: 0.75rem 0;
}

.images {
  display: block;
  margin: auto;
  width: 10%;
}

.page-nav {
  text-align: left;
  font-family: monospace;
}

.sample-nav:nth-child(n+1) {
}

/*visited link*/
.facebook-logo:visited {
  color: #3b5998;
}

.linkedin-logo:visited {
  color: #0077B5;
}

.github-logo {
  color: #181717;
}

.footer {
  font-style: italic;
  background-color: #313B74;
  margin: 0;
  color: white;
  text-align: center;
}

.email {
  color: white;
}

.social-media {
  margin: 0;
}
